/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/css/app.css
/public/css/all.css
/public/js/app.js
/public/js/all.js
/bower_components
composer.lock
public/mix.js
public/mix-manifest.json
public/uploads/